.form{
    display: inline-block;
    width: 100%;
}

.form-row{
    display: inline-block;
    width: 100%;
}

.form-row + .form-row {
    margin-top: 40px;
}

label{
    display: inline-block;
    width: 100%;
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;

}

input{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 1.8em;
    border: none;
    border-bottom: 1px solid #999;
}
::placeholder{
    color: red;
    font-style: italic;
}
button{
    float: left;
    padding: 10px 30px 10px 30px;
    background-color: #015CDA;
    border: 1px solid #015CDA;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    border-radius: 20px; 
}
button:hover {
    background-color: #0c3c80;
    cursor: pointer;
}
.form-row > span {
    float: left;
    padding: 11px;
    line-height: 20px;
}
.form-row > a {
    float: left;
    text-decoration: none;
    padding: 11px;
    line-height: 20px;
}
