body,
body *{
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-break: break-all;
}

body{
    background-color: #00b4d0;
}
.background {
    background-image: url(../img/hill-big.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: blur(20px);
}

.container{
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left-column{
    width: 40%;
    float: left;
    padding: 40px;
    margin-top: 20px;
    color: #fff;
    background-color: #4C46A5;
    background-image: url(../img/hill.png);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    /*position: absolute;*/
    top: 40px;
    bottom: 40px;
}
.main-title{
}

.bottom-links{
position: absolute;
bottom: 20px;
left: 40px;
right: 40px;
}

.bottom-links > a{
    color: #fff; 
    
}

.bottom-links > span{
}

.right-column{
display: inline-block;
width: calc(60% - 90px);
padding: 40px;
float: left;
background-color: #fff; 
position: relative;   
}

.close{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    line-height: 57px;
    position: absolute;
    top: 0;
    right: 0;

}

